-- Script to change player walk speed

-- The new walk speed value you want to set
local newWalkSpeed = 50

-- Function to change walk speed of a player
local function onPlayerAdded(player)
    -- Wait for the character to load
    player.CharacterAdded:Connect(function(character)
        -- Wait for the Humanoid to be added to the character
        local humanoid = character:WaitForChild("Humanoid")
        -- Set the walk speed to the new value
        humanoid.WalkSpeed = newWalkSpeed
    end)
end

-- Connect the function to the PlayerAdded event
game.Players.PlayerAdded:Connect(onPlayerAdded)
